@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}
:root {
  --primary-indigo: #2a3f61;
  --secondary--indigo: #384766;
  --primary-font-color: #ffffff;
  --secondary-font-color: #000000;
}
.header {
  background-color: var(--primary-indigo);
  color: var(--primary-font-color);
}
nav {
  display: flex;
  align-items: center;
  /* gap: 23rem; */
  justify-content: space-between;
}
.group{
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.margin {
  max-width: 85%;
  margin: 0 auto;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  align-items: center;
}
nav a {
  color: var(--primary-font-color);
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem; /* 175% */
}
a {
  text-decoration: none;
}
.content {
  margin-top: 2.94rem;
}

/* ==========================// Hero //=============================== */
.hero_txt h1 {
  color: var(--primary-indigo);
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero_txt p {
  color: var(--primary-indigo);
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero_search {
  margin-top: 1.69rem;
  display: flex;
}
input {
  height: 3rem;
  width: 100%;
}
.hero_filter {
  margin-top: 2.63rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
}
.hero_filter h4 {
  color: var(--primary-indigo);
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hero_filter select {
  color: var(--primary-indigo);
  border-color: var(--primary-indigo);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero_filter a {
  color: var(--primary-indigo);
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.result_no {
  color: var(--primary-indigo);
  margin-top: 0.8rem;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
}
.card {
  max-width: 17rem;
  background-color: var(--primary-indigo);
  padding: 10px;
  border-radius: 0.5rem;
  color: var(--primary-font-color);
}
.img {
  height: 18rem;
}
.result_img {
  width: 17rem;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 0.56rem;
}
.left h2 {
  color: #fff;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.left_loc p {
  color: #fff;
  font-family: Manrope;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.result {
  margin-top: 4.68rem;
  max-width: 84.2rem;
  display: grid;
  place-items: center;
  /* grid-gap: 1rem; */
  grid-gap: 2.9rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.flex_2 {
  display: flex;
  flex-direction: column;
  gap: 0.69rem;
  /* gap: 1rem; */
  margin-top: 1.5rem;
}
.flex_2 h3 {
  color: var(--secondary-font-color);
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  max-width: 25rem;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 1.13rem;
}
.flex_2 a {
  color: #000;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.flex_2 a:hover {
  color: var(--secondary--indigo);
}
.flex_2 .mail_to {
  color: var(--secondary-font-color);
  font-family: Manrope;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 3.69rem;
}
.address{
  margin-bottom: 50px;
}
.flex_3 {
  display: flex;
  align-items: center;
  gap: 01.19rem;

}
.footer_links {
  margin-top: 8.68rem;
  margin-bottom: 4.81rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.address {
  border-right: 0.08rem solid #000;
  height: 12.3rem;
}
.profile {
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 20px;
}

.footer_content,
.footera {
  display: flex;
  justify-content: space-between;
}
.footera{
  flex-wrap: wrap;
}
footer {
  background-color: var(--primary-indigo);
  color: var(--primary-font-color);
  padding: 2.5rem 0;
}
.copyright {
  font-family: Manrope;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer a {
  color: var(--primary-font-color);
  font-family: Manrope;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer ul {
  list-style-type: none;
  gap: 1.5rem;
}

.reset {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-menu{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 1rem;
  height: 0.05rem;
  border-radius: 20px;
  background-color: var(--primary-font-color);

}

@media (max-width: 1050px) {
  .group{
    display: none;
  }
  .display{
    all: unset;
    position: absolute;
    background-color: #2a3f61;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 48px;
    padding-top: 5rem ;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

nav ul{
  display: flex;
  flex-direction: column;
}
  .burger-menu{
    display: flex;
  }
  .responsive {
    display: flex;
    flex-direction: column;
  }
}