@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}
.hero {
  background-color: #e7f2fc;
  width: 100%;
  z-index: -1;
}
.content {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 28.7rem;
}
.flex_hero {
  display: flex;
  justify-content: space-between;
}
.hero_txt {
  width: 65rem;
  color: #092c4c;
  font-family: Manrope;
  font-size: clamp(2.5rem, 5vw, 5.5rem);
  /* font-size: 5rem; */
  font-style: normal;
  font-weight: 800;
  z-index: 3;
  margin-top: 6.62rem;
  margin-bottom: 1rem;
}
.hero_txt span {
  color: #38aa34;
}
.hero_img {
  position: absolute;
  width: 40%;
  height: 40.2rem;
  top: 0;
  /* bottom: 0; */
  right: 2%;
  z-index: 1;
}

/* ========================== Searchbar dont touch =================== */

.search_flex {
  display: flex;
  z-index: 10;
  position: relative;
  align-items: center;
  /* width: 49.6rem; */
  width: 80%;
  border: 1px solid #092c4c;
  border-radius: 0.5rem;
  height: 3rem;
  background: white;
}
input.submit {
  z-index: 10;
  position: relative;
  width: 16.7rem;
  padding: 0.7rem 0;
  color: white;
  background-color: #092c4c;
  border: none;
  border-radius: 0.5rem;
  flex-shrink: 0;
  font-family: "Manrope";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
.search_box {
  border-radius: 5px;
  padding: 10px;
  column-gap: 2rem;
  row-gap: 0.5rem;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  margin-bottom: 2.8rem;
}
.search_box .dropdown {
  border: none;
  width: 100%;
  color: var(--secondary--indigo);
  position: relative;
  cursor: pointer;
}
.search_box .dropdown:last-child {
  width: 35%;
}
select.dropdown {
  color: #384766;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 1rem;
}

select.dropdown:active {
  border: none;
}
select.dropdown:focus {
  border: none;
}

/* ======================= Search END do not touch=================== */
.dot {
  visibility: hidden;
}
.trust {
  position: relative;

  background-color: white;
  margin-bottom: 5.37rem;
}
.flex {
  width: 90%;
  margin: 0 auto;
}
.flex_trust {
  /* height: 4.6875rem; */
  padding: 1rem 0;
  width: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.trust div.flex div.flex_trust p {
  color: #092c4c;
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1020px) {
  .trust {
    position: relative;
    z-index: 5;
  }
  .flex_trust {
    width: 100%;
  }
}
@media (max-width: 770px) {
  .search_box {
    flex-direction: column;
  }
  .search_flex {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .flex_trust {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (max-width: 400px) {
  .hero_img {
    /* all: unset; */
    width: 80%;
  }
  .search_box {
    row-gap: 3rem;
  }
  .trust {
    margin-top: 5rem;
  }
  input.submit {
    width: 7rem;
  }
  .search_flex {
    flex-direction: column;
  }
}

/* ================== Shop Product ========================================== */
.shop {
  width: 90%;
  margin: 0 auto;
}

.shop h1,
.remark h1 {
  color: var(--secondary-font-color);
  text-align: center;
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 5.08rem 0;
}

.shop_product {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.row {
    border-radius: 0.5rem;
    border: 1px solid #000;
    padding: 1rem;
  width: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.94rem;
  margin: 0 auto;
}
.shop_product .row p {
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
}
.shop_product .row img {
  width: 18rem;
  height: 25rem;
}

.shop_product .row img.edit {
  width: 11.4375rem;
  height: 16.375rem;
  padding: 4.31rem 6.75rem 4.31rem 6.81rem;
}
.shop_product .row .product_rating {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.shop_product .row .product_rating button {
  border-radius: 0.5rem;
  background: #2a3f61;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.05rem;
  padding: 1rem 1.5rem;
  border: 0;

  display: flex;
  gap: 0.62rem;
  align-items: center;
}
.shop_product .row .product_rating .price {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.shop_product .row .product_rating .price p {
  color: #000;
  font-family: Inter;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ============================= remark ============================================= */
.remark {
  width: 85%;
  margin: 2rem auto;
}
.remark .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 25rem;
  gap: 1rem;
  background: #fff;
  padding: 2rem;
  box-shadow: 0px 12px 64px 0px rgba(0, 0, 0, 0.25);
}
.remark .card img {
  border-radius: 50%;
}
.remark .card h1 {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
.remark .card p {
  color: #000;
  text-align: center;
  font-family: Manrope;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.flex_2 {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
